node_modules

package-lock.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/config/applicationhost.config
/.vs/content/v15/.suo
/.vs/slnx.sqlite
/bin/Content/JavaScript/api.js
/bin/Content/JavaScript/tracking.js
/bin/Content/JavaScript/trackingm.js
/bin/Content/JavaScript/retailrocket.cookies.js
/bin/Content/JavaScript/retailrocket.visitor.js
/bin/Content/JavaScript/retailrocket.widget.js
/bin/Content/JavaScript/retailrocket.segmentator.js
/bin/Content/JavaScript/retailrocket.recommendation.js
/bin/Content/JavaScript/Tests/*
/bin/Content/Css/retailrocket.widget.css
/bin/Content/JavaScript/retailrocket.webpushserviceworker.js
/.vs/StaticContent/v15/*.suo
/tests/tracking.jsErrorTracker/source.jsErrorTracker.js
/tests/tracking.jsErrorTracker/.source.jsErrorTracker.js
/.idea
/.history
/nvm